body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  margin: 5em auto;
  max-width: 50%;
}

table {
  width: 100%;
}

.card {
  background: white;
  box-shadow: 2em 2em 2em rgba(12, 35, 64, 0.25);
  border-radius: 5px;
  min-width: 75px;
  max-width: 75%;
  border-radius: 10px;
  overflow: auto;
  max-height : 75vh;
  overflow-y: auto;
}
.card-body {
  padding: 20px;
}

td:first-child {
  width: 100%;
}
td:last-child {
  min-width: 125px;
}
th {
  text-align: left;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
tr {
  font-size: 1em;
}


.completed {
  text-decoration: line-through;
}

.task {
  cursor: pointer;
}

.table td {
  vertical-align: middle;
}